* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(245, 200, 0);
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
}

.logo-container, .nav-links{
    display: flex;
}

.logo-container{
    flex: 1;
    color: black;
    text-decoration: none;
}

.logo{
    font-weight: 700;
    margin: 5px;
}

nav{
    flex: 2;
}

.nav-links{
    justify-content: space-around;
    list-style: none;
}

.nav-link{
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.presentation{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items:center;
}
.introduction{
    flex: 1;
}

.cover img{
    height: 90vh;
}

.intro-text h1{
    font-weight: 800;
    font-size: 120px;
}

.intro-text p{
    font-weight: lighter;
    font-size: 20px;
}

.cover-about{
    height: 90vh;
}

.mail-to{
    list-style: none;
    text-decoration: none;
    font-size: 20px;
}

.contact-form{
    display: flex;
    margin: -400px 0px 0px 150px;
    width: 100%;
    height: 10vh;
    font-size: 20px;
    text-align: center;
    align-items: center;
}

/* .presentation-contact{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items:flex-start;
} */